/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #FFC8DD; border: 2px solid black;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
